# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [94]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [95]:
df = pd.read_csv("jeopardy.csv")
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

In [96]:
df.columns = ['show_number', 'air_date', 'round', 'category', 'value', 'question', 'answer']
df.head()

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [97]:
def filter_words(my_df, words):

    my_df = my_df[my_df.question.apply(lambda x: all(word in x for word in words))]
    return my_df

len(filter_words(df, ["King", "England"]))

49

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [98]:
def filter_words_prime(my_df, words): #make sure to format the input like "{SPACE}{word}{SPACE}" in order to isolate the word
    my_df = my_df[my_df.question.apply(lambda x: all(word.lower() in x.lower() for word in words))]
    return my_df

king_england = filter_words_prime(df, [" King ", " England "]).question
print(king_england)

6337                           In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                                         This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
13454                                                            It's the number that followed the last king of England named William
18076                                 In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
19168                                                       He was the only king of England to have "The Great" tacked on to his name
21511                                                    this man and his son ruled England following the execution of King Charles I
23810                            William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
23979                                  This "unready" king of England lost most of his country to Sven Forkbeard, the king of Denmark
26780                                                     This king of England was killed by a Norman arrow at the Battle of Hastings
33174                                                                          This king of England was a leader of the Third Crusade
49994                                          Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
57479                                                               He was the last of the 3 men who were king of England during 1066
58949                                           He became King of England in 1399 after forcing his cousin Richard II from the throne
66520                                  This king called "the Great" beat the Danes in 886 to keep all of England from being conquered
72582                                     This current king of Jordan received part of his education in England at Harrow & Sandhurst
77195                             He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
78510                             Henry II, who succeeded Stephen as king of England in 1154, was the first monarch from this "house"
82525                                                    The "rump" parliament wanted him to be the last king England would ever name
86412                                            This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                               This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
90084                                                                      He was "the Confessor" king of England in the 11th century
94425                                                                           From 1714 to 1830 every king of England had this name
95019                               Regent for his predecessor from 1811 to 1820, he was king of England on his own from 1820 to 1830
103704                                                                        This king of England was the grandfather of Elizabeth I
115727                                                           In 1191, Berengaria married this king of England in Limassol, Cyprus
118809                                                               In French this King of England is called Guillaume le Conquerant
127484                                   Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                     This state was named for the King of England who reigned from 1727 to 1760
137818                                                           The last King William to rule England had this number after his name
140080                                         In 1191 this "Lion-Hearted" king of England captured Cyprus & Acre during the Crusades
140941              Dutch-born Protestant Prince William of Orange became king of England after this Catholic king was deposed & fled
148910                     On his way back from failing to take Jerusalem in 1192, this king of England was captured & later ransomed
150622                                                      The only king of England named Stephen was the grandson of this conqueror
150880                                                          During Stanley Baldwin's term as P.M., this King of England abdicated
151335                                   2000 saw a fight in England over running the lottery, with this Virgin king at the forefeont
151746                                             Colchester, England was named for this legendary Celtic king immortalized in rhyme
158120                  This Dutch-born English king introduced gin to England as the "pouring spirit" in the palace at Hampton Court
159374                                                        A translation of the Bible is named for this king of England & Scotland
159378                This king divorced the Church of England from the Catholic Church so that he could divorce the first of 6 wives
167337                                                                 The last Anglo-Saxon king of England was killed in this battle
174055                                                               This conqueror was crowned King of England on Christmas Day 1066
175259                                                                             His short reign as King of England fell in in 1936
178590                                       He succeeded Henry II as king of England in 1189 & was himself succeeded by John in 1199
178921                                                                   Richard was crowned king of England at this place of worship
186239              He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
190102                                                  The man who became king of England in 1066 was succeeded by this king in 1087
191531    On Jan. 28, 1547, after a physical & mental decline, this king of England was (surprisingly) survived by his wife Catherine
195099                                In 1714 the Prince of Hanover, who spoke little English, became king of England under this name
200369                8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
208742                                           Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
216021                               His nickname was "Bertie", but he used this name & number when he became king of England in 1901
Name: question, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [99]:
import numpy as np
df["float_value"] = df.value.apply(lambda x: float(x[1:].replace(",","")) if x != "no value"  else 0) #these two yield slightly different results 0 if we want to divide to a higher number
df["float_value"] = df.value.apply(lambda x: float(x[1:].replace(",","")) if x != "no value"  else np.NaN) #NaN if we want to completely ignore the cost
print(df.head())
print()

df_king = filter_words(df,["king"]) 
print(df_king.float_value.mean())

df_king_better = filter_words(df,[" king "]) #can t find answers that start or end with king,
print(df_king_better.float_value.mean())

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer  float_value
0  Copernicus        200.0
1  Jim Thorpe        200.0
2     Arizona        200.0
3  McDonald's        200.0
4  John Adams        200.0

786.327046201765
855.6794055201699

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [100]:
print(df.question.size)
print(df_king.question.size)
print(df_king_better.question.size)

def unique_answers(filtered_df):
    return filtered_df.answer.value_counts()

unique = unique_answers(df_king_better)
unique

216930
5881
962

answer
Henry VIII                     30
Richard III                    19
Solomon                        16
Charles I                      14
Norway                         13
                               ..
Sir Cecil Rhodes (Rhodesia)     1
Albert                          1
a flush                         1
Voltaire                        1
Edward VII                      1
Name: count, Length: 491, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [105]:
df_above_90 = df[df.air_date.apply(lambda string_date: (int(string_date[:3]) >= 1990 ) & int(string_date[:3]) <= 1999) ]
df_above_00 = df[df.air_date.apply(lambda string_date: (int(string_date[:3]) >= 2000 ) & int(string_date[:3]) <= 2010) ]


print(df_above_00.air_date)
print(df_above_90.air_date)

0         2004-12-31
1         2004-12-31
2         2004-12-31
3         2004-12-31
4         2004-12-31
             ...
216925    2006-05-11
216926    2006-05-11
216927    2006-05-11
216928    2006-05-11
216929    2006-05-11
Name: air_date, Length: 216930, dtype: object
0         2004-12-31
1         2004-12-31
2         2004-12-31
3         2004-12-31
4         2004-12-31
             ...
216925    2006-05-11
216926    2006-05-11
216927    2006-05-11
216928    2006-05-11
216929    2006-05-11
Name: air_date, Length: 216930, dtype: object

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.